.container{
    width:1170px;
    font-family: sans-serif;
    padding-left: 15px;

    padding-right: 15px;
    margin: auto;
}
img{
    width: 100%;
}

*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    
}
@mixin theme {
    background: red;
    box-shadow: 0 0 5px black;
    color: #000;
  }

.header-top{

    width:100%;
    float:left;
       
    background-color: rgb(231, 230, 230);
    .header-top-text{
        width:100%;
        float:left;
   
        .header-top-text-left{
            width:50%;
            float:left;
            
            a{
                width:100%;
                float:left;
                color:black;
                padding: 10px;

                i{
                    width:auto;
                    float:left;
                    padding-right: 10px;
                    padding-left: 20px;
                    // margin-top: 5px;
                }
            }
         }

         .header-top-text-right{
            width:50%;
            float:left;
            font-family: 'Lato', sans-serif;
            

            ul{
                display: flex;
                justify-content: end;
            
                li{
                    width:auto;

                    margin: 10px;
                    
                    a{
                        width:100%;
                        display: inline-block;
                        color:black;
                        padding-top: 10px;
                        font-size: 14px;
                    }
                }
            }
         }
    }
}

.header{
    width:100%;
    float:left;
    // @include theme;
    .header-text{
        width:100%;
        float: left;
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 20px;
    
        .header-text-left{
            width: 40%;
            float:left;


            ul{
                
                   
                li{
                     a{
                        width: auto;
                        float: left;
                        padding-left: 20px;
                        margin: 10px;
                        color:rgb(102, 101, 101);
                        font-size: 22px;
                        color:black;
                        font-weight: 400;
                        font-family: 'Lato', sans-serif;
                        font-family: 'Playfair', serif;
                    }
                }
            }
        }

        .header-logo{

            width:20%;
            .logo{
                width:100%;

                display: flex;
                justify-content: center;
                align-items: center;
                    
                
            img{
                width:100px;
                
            }
            }
        }

        .social-media{
            width:40%;
            float:left;
            display: flex;
            justify-content: center;

            ul{
                display: flex;
                justify-content: center;
                align-items: center;
                float:right;

                li{
                    margin: 5px;
                    a{  

                        
                        i{
                            width:50px;
                            height:50px;
                            justify-content: center;
                            display: flex;
                            align-items: center;
                            float: left;
                            // display: inline-block;
                            border: 2px solid goldenrod;
                            border-radius: 50%;
                            text-align: center;
                            padding: 10px;
                            font-size: 20px;

                            // margin-left: 20px;
                            color:goldenrod;
                        }
                    }
                }
            }

            span{
                width:auto;
                float:left;

                button{
                    background-color: black;
                    border: 1px solid black;
                    border-radius: 3px;
                    padding: 10px 20px;
                    color: white;
                    margin-left: 15px;
                    margin-top: 8px;
                
                }
            }
        }
    }
}

.banner{
    width:100%;
    float:left;
    overflow: hidden;

    .banner-image{
        width:100%;
        float:left;
        position: relative;

        .banner-main-image{
            width:100%;
            float:left;
            img{
                width:100%;
            }

        }
        .banner-text{
            width:15%;
            float:left;
            position: absolute;
            top:200px;
            left:540px;
            border: 1px solid white;
            text-align: center;
            padding: 10px;
            outline: 2px solid white;
            outline-offset: 7px;


            h6{
                width:100%;
                float:left;
               
                
                text-align: center;
                color:white;
                font-size:20px ; 
                font-family: 'Lato', sans-serif;
                // font-family: 'Playfair', serif;
            }

            h5{
                width:100%;
                float:left;
                margin-top:80px;
                
                text-align: center;
                color:white;
                font-size: 16px;
                font-family: 'Lato', sans-serif;
                // position: relative;

                 &:after{
                    content: '';
                    width:30px;
                    position: absolute;
                    top: 0;
                    height: 1px;
                    background-color: white;
                    margin-top: 120px;
                    margin-left: 10px;

                }

                
                &:before{
                    content: '';
                    width:45px;
                    position: absolute;
                    top:127px;
                    height: 1px;
                    background-color: white;
                    margin-left:55px;

                }

            }

            h4{
                width:100%;
                float:left;
                text-align: center;
                color: black;
                font-size: 18px;
                font-family: 'Lato', sans-serif;
                margin-top: 10px;
                letter-spacing: 1px;

                &:before{
                    content: "";
                    width: 35px;
                    height: 1px;
                    background-color: white;
                    position: absolute;
                    top: 120px;
                    left: 28px;
    
                }
    
                &:after{
                    content: "";
                    width: 45px;
                    height: 1px;
                    background-color: white;
                    position: absolute;
                    top: 127px;
                    right: 125px;
                }
            }
          
        }

        .button{
            width:100%;
            float: left;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            bottom: 100px;
            button{
                width:100px;
                float:left;
                padding: 13px 10px;
                color: white;
                background: rgb(246, 106, 56);
                border: 1px solid rgb(246, 106, 56);
                font-size: 14px;
            }
        }

     
    }


    
}

.banner-end{
    width:100%;
    float:left;

    .banner-end-text{
        width:100%;
        float:left;
        position: relative;
        margin-bottom: 50px;
        margin-top: 20px;


        .shipping{
            width:33%;
            float:left;
            padding-top: 30px;

            .shipping-text{
                width:95%;
                background-color: #d9bf8f;

                height: 61px;
                float: left;

                z-index: 12;


                h6{
                    width:40%;
                    float:left;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    padding-top: 15px;
                    i{
                        width:100%;
                        color:white;
                        font-size: 30px;

                    }
                }

                h5{
                    width:60%;
                    float:left;
                    padding-top: 10px;
                    font-size: 20px;
                    margin-left: -23px;
                    color: white;
                }

                p{
                    width:60%;
                    float: left;
                    margin-left: -23px;
                    color: white;
                    font-size: 10px;
                }
            }

            &:after{
                content: '';
                width:43px;
                height:43px;
                transform: rotate(45deg);
                top: 39px;
                left: 335px;
                position: absolute;
                background-color: #d9bf8f;
                z-index:2;


            }
        }

        .returns{
            width:33%;
            float:left;
            padding-top: 30px;

            .returns-text{
                width:95%;
                background-color:black;
                height: 61px;
                float: left;

                h6{
                    width:40%;
                    float:left;
                    text-align: center;
                    padding-top: 15px;

                    i{
                        width:100%;
                        float:left;
                        color:white;
                        font-size: 30px;
                    }
                }

                h5{
                    width:60%;
                    float:left;
                    font-size: 20px;
                    margin-left: -30px;
                    padding-top: 12px;
                    color: white;
                }

                p{
                    width:60%;
                    float:left;
                    color:white;
                    margin-left: -30px;
                    font-size: 10px;
                }

                &:after{
                    content: '';
                    width:43px;
                    height:43px;
                    transform: rotate(45deg);
                    top: 39px;
                    left: 354px;
                    position: absolute;
                    background-color:white;
                    z-index:1;
                }

                &:before{
                    content: "";
                    width: 43px;
                    height: 43px;
                    transform: rotate(45deg);
                    background-color: white;
                    z-index: 3;
                    position: absolute;
                    top: 39px;
                    right: 384px;
                }


            }
        }

        .support{
            width:33%;
            float:left;
            padding-top: 30px;


            .support-text{
                width:95%;
                background-color:#d9bf8f;
                height: 61px;
                float: left;

                h6{
                    width:40%;
                    float:left;
                    padding-top: 12px;
                    text-align: center;
                    
                    i{
                        width:100%;
                        float:left;
                        font-size: 30px;
                        color: white;
                        padding-top: 2px;
                    
                    }
                }

                h5{
                    width:60%;
                    float: left;
                    font-size: 20px;
                    padding-top: 12px;
                    color: white;
                    margin-left: -20px;
                }

                p{
                    width:60%;
                    float:left;
                    font-size: 10px;
                    color: white;
                    margin-left: -20px;
                }
                &:after{
                    content: '';
                    position: absolute;
                    background-color:#d9bf8f;
                    width: 43px;
                    height: 43px;
                    top: 39px;
                    right: 367px;
                    transform: rotate(45deg);
                    z-index: 4;
                }

            }
        }
    }
}        
  
.handpicked{
    width:100%;
    float:left;

    .handpicked-text{
        width: 100%;
        float: left;
        position: relative;
        margin-bottom: 30px;

        h6{
            width: 100%;
            float: left;
            text-align: center;
            font-size: 30px;


            span{
                width:100%;
                float:left;
                font-family: 'Playfair'; 
            }


            &:after{
                content: "";
                width: 350px;
                height: 1px;
                background-color: black;
                position: absolute;
                right: 0px;
                top: 22px;
            }

            &:before{
                content: "";
                width: 350px;
                height: 1px;
                background-color: black;
                position: absolute;
                left: 0px;
                top: 22px;
            }
        }
        &:before{
            content: '';
            position: absolute;
            background-color: #d9bf8f;
            width: 20px;
            height: 20px;
            top: 12px;
            transform: rotate(45deg);
            left: 400px;
        }

        &:after{
            content: '';
            position: absolute;
            background-color: #d9bf8f;
            width: 20px;
            height: 20px;
            top: 12px;
            transform: rotate(45deg);
            right: 400px;
        }
    }    

    .handpicked-image{
        width:100%;
        float:left;
        display: flex;
        justify-content: center;
        align-items: center;

        .hand-images{
            width:33%;
            float:left;
            text-align: center;
            position: relative;

            
            .shoes{
                width:100%;
                float:left;
                padding: 5px;

                .shoes-img{
                    width:100%;
                    float:left;
                    outline: 4px solid white;
                    outline-offset: -25px;
                    overflow: hidden;
                    height: 362px;


                    img{
                        width:100%;
                        transition: 0.5s;

                        &:hover{
                            transform: scale(1.1);
                            width: 100%;
                            outline: 4px solid white;
                            outline-offset: -40px;
                        }
                    }

                    
                }
                button{
                    width: auto;
                    padding: 10px;
                    position: absolute;
                    left: 135px;
                    text-align: center;
                    top: 275px;
                    background: orangered;
                    border: 1px solid orangered;
                    color: white;
                
                }
            }

            .breshlet{
                width: 100%;
                float: left;
                padding: 5px;

                .breshlet-img{
                    width: 100%;
                    float:left;
                    outline: 4px solid white;
                    outline-offset: -25px;
                    overflow: hidden;
                    height:362px;
                    img{
                        width:100%;
                        transition: .5s;

                        &:hover{
                            transform: scale(1.1);
                            width: 100%;
                            outline: 4px solid white;
                            outline-offset: -40px;

                        }
                    }
                    
                }
            }


        }

        
        .hand-images{
            width:33%;
            float:left;
            text-align: center;
            position: relative;
            
            
            .shoes{
                width:100%;
                float:left;
                padding: 5px;

                .shoe-img{
                    width:100%;
                    float:left;
                    outline: 4px solid white;
                    outline-offset: -25px;
                    overflow: hidden;
                    img{
                        width:100%;
                        height:730px;
                        transition: 0.5s;

                        &:hover{
                            transform: scale(1.1);
                            outline: 4px solid white;
                            outline-offset: -40px;
                        }
                    }
                }
            }
        }
        

    }
}

.summer-collection{
    width:100%;
    float:left;

    .summer-collection-text{
        
            width: 100%;
            float: left;
            position: relative;
            margin-top: 30px;
    
            h6{
                width: 100%;
                float: left;
                text-align: center;
                font-size: 30px;
    
    
                span{
                    width:100%;
                    float:left;
                    font-family: 'Playfair'; 
                }
    
    
                &:after{
                    content: "";
                    width: 350px;
                    height: 1px;
                    background-color: black;
                    position: absolute;
                    right: 0px;
                    top: 22px;
                }
    
                &:before{
                    content: "";
                    width: 350px;
                    height: 1px;
                    background-color: black;
                    position: absolute;
                    left: 0px;
                    top: 22px;
                }
            }
            &:before{
                content: '';
                position: absolute;
                background-color: #d9bf8f;
                width: 20px;
                height: 20px;
                top: 12px;
                transform: rotate(45deg);
                left: 400px;
            }
    
            &:after{
                content: '';
                position: absolute;
                background-color: #d9bf8f;
                width: 20px;
                height: 20px;
                top: 12px;
                transform: rotate(45deg);
                right: 400px;
            }
           
    }

    .summer-collection-image{
        width:100%;
        float:left;


        .summer-coll-image{
            width:25%;
            float:left;
            padding-right: 10px;
            position: relative;
            margin-top: 40px;


            .colls-image{
               width:100%;
               float:left;

               overflow: hidden;
               height:300px;

                
                img{
                    width:100%;
                    transition: 0.5s;

                    &:hover{
                        width: 100%;

                        transform: scale(1.1);
                    }
                }
    
            }
            h6{
                position: absolute;
                width: 40px;
                float: left;
                color: white;
                height: 40px;
                font-size: 15px;
                top: 25px;
                left: 22px;
                background:orange;
                border-radius: 50%;
                text-align: center;
                line-height: 40px;
            }

            a{
                position: absolute;
                bottom: 10px;
                font-size: 12px;
                text-align: center;
                left: 85px;
                color: white;
                background-color: black;
                padding: 12px;
            }
            
        }
       
    }

    .summer-collection-images{
        width:100%;
        float:left;


        .summer-coll-image{
            width:25%;
            float:left;
            padding-right: 10px;
            position: relative;
            margin-top: 10px;



            .colls-image{
               width:100%;
               float:left;

               overflow: hidden;
               height: 300px;

                
                img{
                    width:100%;
                    transition: 0.5s;

                    &:hover{
                        width: 100%;

                        transform: scale(1.1);
                    }
                }
    
            }
            h6{
                position: absolute;
                width: 40px;
                float: left;
                color: white;
                height: 40px;
                font-size: 15px;
                top: 25px;
                left: 22px;
                background:orange;
                border-radius: 50%;
                text-align: center;
                line-height: 40px;
            }

            a{
                position: absolute;

                bottom: 10px;
                font-size: 12px;
                text-align: center;
                left: 85px;
                color: white;
                // clip-path: polygon(5% 74%, 94% 74%, 100% 100%, 0% 100%);
                background: black;
                padding: 10px;

                // &:after{
                //     content: '';
                //     position:absolute;
                // }
            }

            
            
        }
       
    }



}

.our-brands{
    width:100%;
    float:left;

    .brand-text{

        width: 100%;
            float: left;
            position: relative;
            margin-top: 30px;
    
            h6{
                width: 100%;
                float: left;
                text-align: center;
                font-size: 30px;
    
    
                span{
                    width:100%;
                    float:left;
                    font-family: 'Playfair'; 
                }
    
    
                &:after{
                    content: "";
                    width: 350px;
                    height: 1px;
                    background-color: black;
                    position: absolute;
                    right: 0px;
                    top: 22px;
                }
    
                &:before{
                    content: "";
                    width: 350px;
                    height: 1px;
                    background-color: black;
                    position: absolute;
                    left: 0px;
                    top: 22px;
                }
            }
            &:before{
                content: '';
                position: absolute;
                background-color: #d9bf8f;
                width: 20px;
                height: 20px;
                top: 12px;
                transform: rotate(45deg);
                left: 400px;
            }
    
            &:after{
                content: '';
                position: absolute;
                background-color: #d9bf8f;
                width: 20px;
                height: 20px;
                top: 12px;
                transform: rotate(45deg);
                right: 400px;    
        }
   }

   .brands{
    width:100%;
    float:left;
    margin-top: 50px;
    background-color: lightgray;
    overflow: hidden;

    .our-brand{
        width:16.5%;
        float:left;
        padding: 10px;
        padding-top: 30px;
        img{
            width:130px;
            float:left;

        }
    }
   }
}

.testimonial{
    width:100%;
    float:left;

    .testimonial-head{

        width: 100%;
            float: left;
            position: relative;
            margin-top: 30px;
    
            h6{
                width: 100%;
                float: left;
                text-align: center;
                font-size: 30px;
    
    
                span{
                    width:100%;
                    float:left;
                    font-family: 'Playfair'; 
                }
    
    
                &:after{
                    content: "";
                    width: 350px;
                    height: 1px;
                    background-color: black;
                    position: absolute;
                    right: 0px;
                    top: 22px;
                }
    
                &:before{
                    content: "";
                    width: 350px;
                    height: 1px;
                    background-color: black;
                    position: absolute;
                    left: 0px;
                    top: 22px;
                }
            }
            &:before{
                content: '';
                position: absolute;
                background-color: #d9bf8f;
                width: 20px;
                height: 20px;
                top: 12px;
                transform: rotate(45deg);
                left: 400px;
            }
    
            &:after{
                content: '';
                position: absolute;
                background-color: #d9bf8f;
                width: 20px;
                height: 20px;
                top: 12px;
                transform: rotate(45deg);
                right: 400px;    
        }
   }

   .testimonial-text{
    width:100%;
    float:left;
    margin-top: 20px;
    position: relative;
   
    // .testimonial-big-image{
    //     width:100%;
    //     float:left;
    //     img{
    //         width:100%;
    //         float:left;
    //         background-size: cover;
    //     }
    // }

    }

    .testimonial-left{
        width:50%;
        float: left;
        position: absolute;
        top: 0;
        left: 0;

        .testimonial-left-image{
            width:50%;
            float:left;

            img{
                width:220px;
                padding: 10px;
                padding-top: 32px;
                float:right;

            }
        }

        .testi-left-text {
            width: 50%;
            float: left;

            h6{
                width:100%;
                float: left;
                font-size:14px;
                color: white;
                padding-top: 145px;
                font-family: 'Lato', sans-serif;
                font-family: 'Playfair', serif;
            }

            h5{
                width:100%;
                float:left;
                padding-top:20px;
                font-size:18px ;
                color:black;
                font-family: 'Lato', sans-serif;
                font-family: 'Playfair', serif;
            }

            p{
                width:100%;
                float:left;
                font-size:14px ;
                color:rgb(56, 56, 56);
                padding-top: 7px;
            }
        }
    }

    .testimonial-right{
        width:50%;
        float:left;
        position: absolute;
        top: 0;
        right:0;

        .testi-right-text{
            width:50%;
            float:left;
            text-align: right;

            h6{
                width:100%;
                float: left;
                padding-top: 145px;
                color: white;
                font-family: 'Lato', sans-serif;
                font-family: 'Playfair', serif;
                padding-right: 10px;
                font-size: 14px;
                
            }
            h5{
                width:100%;
                float:left;
                padding-top: 18px;
                padding-right: 10px;
                font-size: 18px;
                font-family: 'Playfair', serif;
            }

            p{
                width:100%;
                float:left;
                padding-right: 10px;
                padding-top: 8px;
                font-size: 14px;
                color: black;
            }

        }
        .testi-right-image{
            width:50%;
            float:left;

            img{
                width:195px;
                float: left;
                padding-top: 45px;
            }
        }
    }
   }
    


.footer{
    width:100%;
    float:left;
    background-color: #000;
    .footer-text{
        width: 100%;
        float: left;
        margin-bottom: 50px;

        padding-bottom: 40px;
       

        .footer-head{
            width: 20%;
            float:left;
            color: white;

            h6{
                width:100%;
                float: left;
                font-size: 18px;
                padding-top: 25px;
                font-weight: 100;
            
                &:hover{
                    color:rgb(168, 120, 120);
                }
            }

            .footer-list{
                width:100%;
                float: left;

                ul {
                    width: 100%;
                    float: left;
                    padding-top: 25px;
                }

                li {
                    width: 100%;
                    float: left;
                    padding-top: 15px;
                }

                a{
                    color:rgb(122, 121, 121);

                    i{
                        color: white;
                        padding-right: 10px;
                        display: none;

                    }
                    &:hover{
                        color:red;

                        i{
                            display: block;
                            float: left;
                            color: red;


                        }
                    }
                }
            }
        }

        .footer-head-social{
            width: 40%;
            float: left;

            h6{
                width: 100%;
                float: left;
                color: white;
                padding-top: 25px;
                font-size: 19px;
                font-weight: 300;

                &:hover{
                    color:rgb(129, 83, 83);
                }
            }

            .footer-social-media{
                width: 100%;
                float: left;
                padding-top: 55px;

                a{
                    width:auto ;
                    float: left;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 20px;
                    

                    i{
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        color: black;
                        background: white;
                        text-align: center;
                        line-height: 37px;
                        font-size: 20px;

                        &:hover{
                            color:blue;
                            background-color: #f0975c;
                        }
                    }
                }
            }

            .form{
                width: 100%;
                float:left;
                position: relative;
                

                h6{
                    width: 100%;
                    float: left;
                    font-size: 16px;
                    padding-top: 30px;

                    &:hover{
                        color:red;
                    }
                }

                input{
                    width:80%;
                    float: left;
                    margin-top: 20px;
                    padding: 10px;
                    background-color: black;
                    border: 1px solid white;
                }

               a{
                width: 100%;
                float: left;
                button{
                    position: absolute;
                    width: auto;
                    float: left;
                    right: 93px;
                    top: 70px;
                    padding: 7px;
                    background: rgb(76, 75, 75);
                    color: white;
                    cursor: pointer;
                }
               }

            }
        }

        p {
            color: rgb(99, 98, 98);
            width: 100%;
            float: left;
            margin-top: 50px;
            border-top: 1px solid lightgrey;
            padding-top: 40px;
            line-height: 25px;
            font-size: 14px;
        }

        .cards {
            width: auto;
            float: left;
            
            a{
                i{
                    color:rgb(95, 94, 94);
                    margin-right: 15px;
                    padding-top: 25px;

                }
            }
        }
    }
}



ul.slick-dots {
    width: 50px;
    height: 50px;
    background: red;
}

